/* .CategoryPage {
    min-height: 100vh;
} */
.activeCateItem{
    width:  25%;
    height: 36px;
    color: #2189E3;
    cursor: pointer;
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    background-color: #70707020;

}

.inactiveCateItem{
    width:  25%;
    height: 36px;
    top: auto;
    color: #707070;
    cursor: pointer;
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    

}
.activeCateItemBorder{
    width: 20%;
    border-bottom: #2189E3 solid 3px;
    position: relative;
    left: 40%;
}