.cldFrame {
    position: relative;
    margin-top: 100px;
    width: 424px;
    max-width: 100%;
    margin-left: 13px;
    background-color: rgba(255, 255, 255, 0);

}

.underside {
    min-width: 30%;
    max-width: 45%;
    padding-top: 5px;
    background-blend-mode: normal;
    mix-blend-mode: normal;
    background: linear-gradient(225deg, rgba(65, 84, 184, 1) 0%, rgba(47, 102, 201, 1) 61.42%, rgba(0, 84, 255, 1) 100%);
    background-blend-mode: normal;
    mix-blend-mode: normal;
    border-radius: 10px;
    position: relative;
    left: 53%;
}

.small-underside {
    min-width: 30%;
    max-width: 45%;
    padding-top: 5px;
    background-blend-mode: normal;
    mix-blend-mode: normal;
    background: linear-gradient(225deg, rgba(65, 84, 184, 1) 0%, rgba(47, 102, 201, 1) 61.42%, rgba(0, 84, 255, 1) 100%);
    background-blend-mode: normal;
    mix-blend-mode: normal;
    border-radius: 10px;
    position: relative;
    left: 53%;
}

.cldBody {
    margin: 10px;
    position: absolute;
    width: 420px;
    background-color: rgba(255, 255, 255, 0);
}

#top {
    position: relative;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

#topDate {
    font-size: 30px;
}

.curDate {
    color: rgb(255, 249, 249);
    font-weight: bold;
}

.table {
    height: 420px;
    background-color: rgba(255, 255, 255, 0);
}

#week td {
    font-size: 15px;
}

td {
    height: 60px;
    width: 60px;
    text-align: center;
    font-family: Simsun;
    font-size: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px dashed #ddd;
    padding: 5px 15px;
}

#left,
#right {
    position: absolute;
    width: 60px;
    height: 60px;
}

#left {
    left: 0px;
}

#right {
    right: 0px;
}

#left:hover,
#right:hover {
    background-color: rgba(255, 255, 255, 0);
}

.v {
    border-collapse: collapse
}

.v td {
    border: 1px dashed #000;
    width: 100;
    height: 25
}


.studytime1 {
    margin-top: -140px;
    max-width: 50%;
}

.studytime {
    height: 50px;
    margin-top: -66px;
}

.semester {
    margin-top: 10px;
    margin-left: 16px;
    width: 138px;
    height: 53px;
    background-blend-mode: normal;
    mix-blend-mode: normal;
    color: rgba(239, 239, 239, 1);
    font-size: 31px;
    font-weight: 700;
}

.small-semester {
    margin-top: 10px;
    margin-left: 16px;
    color: rgba(239, 239, 239, 1);
}

.week {
    margin-top: 10px;
    margin-left: 50px;
    height: 53px;
    background-blend-mode: normal;
    mix-blend-mode: normal;
    color: rgba(239, 239, 239, 1);
    font-size: 31px;
    font-weight: 700;
}

.timespan {
    margin-top: 20px;
    margin-left: 14px;
    width: 192px;
    height: 37px;
    background: rgba(239, 239, 239, 0.3);
}

.left-Booktitle {
    margin-top: 20px;
    margin-left: 14px;
    width: 25px;
    height: 25px;
    background: rgba(239, 239, 239, 0.01);
    color: aliceblue
}

.right-Booktitle {
    margin-top: 20px;
    margin-left: 14px;
    width: 25px;
    height: 25px;
    background: rgba(239, 239, 239, 0.01);
    color: aliceblue
}

.datatime {
    margin-top: 20px;
    margin-left: 14px;
    width: 116px;
    height: 37px;
    color: rgba(239, 239, 239, 1);
    font-size: 16px;
    font-weight: 700;
}


.react-calendar {
    margin-top: 20px;
    max-width: 100%;
    margin-left: 13px;
    /* background: linear-gradient(225deg, rgba(65, 84, 184, 1) 0%, rgba(47, 102, 201, 1) 61.42%, rgba(0, 84, 255, 1) 100%); */

    /* background-image: linear-gradient(to right, #ccc 0%, #ccc 50%, transparent 50%);
    background-size: 20px 1px;
    background-repeat: repeat-x; */
    background-blend-mode: normal;
    mix-blend-mode: normal;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar__viewContainer {
    margin-left: 1em;
    margin-right: 1em;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    aspect-ratio: 1/1;
    /* pointer-events: none; */
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    font-size: 10px;
    position: relative;
    display: flex;
    height: 3em;
    max-width: 35%;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
}

.react-calendar__navigation button {
    font-size: 12px;
    color: rgba(239, 239, 239, 1);
    min-width: 1ex;
    background: rgba(239, 239, 239, 0.3);
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__month-view__days {
    width: 100%;
    color: rgba(239, 239, 239, 1);
    height: auto;

}

.react-calendar__month-view__weekdays {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 2px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;

}

.react-calendar__month-view__weekdays__weekday {
    color: rgba(239, 239, 239, 1);
    padding: 1.125em;
}


.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;

}

.react-calendar__tile react-calendar__month-view__days__day {
    color: rgba(239, 239, 239, 1);

}

.react-calendar__month-view__days__day--weekend {
    color: rgba(239, 239, 239, 1);

}

.react-calendar__month-view__days__day--neighboringMonth {
    color: rgba(239, 239, 239, 1);
    filter: opacity(50%);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    background-image: linear-gradient(to right, #ccc 0%, #ccc 50%, transparent 50%);
    background-size: 20px 1px;
    background-repeat: repeat-x;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;

}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;

}

.react-calendar__tile--now {
    border-radius: 50px;
    background: #00fe22;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #00fe22;
}

.react-calendar__tile--hasActive {
    background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.react-calendar__tile--active {
    border-radius: 50px;
    background: rgba(255, 163, 75, 1);
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: rgba(255, 163, 75, 1);
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}

.now-condition {
    left: 0px;
    top: -1px;
    width: 121px;
    height: 21px;
    color: rgba(239, 239, 239, 1);
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.position {
    position: absolute;
    right: 2%;
    top: 0px;
    height: 21px;
    color: rgba(239, 239, 239, 1);
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.temperature {
    left: 20px;
    top: 0px;
    width: 93px;
    height: 46px;
    color: rgba(239, 239, 239, 1);
    font-size: 32px;
    font-weight: 500;
    margin-left: 35px;
    align-items: center;
    margin: 0px auto;
    text-align: center;
}

.sky-condition {
    left: 0px;
    top: 3px;
    height: 16px;
    color: rgba(239, 239, 239, 1);
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    text-align: center;
}

.fly {
    position: absolute;
    left: 2%;
    width: 87px;
    height: 16px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;

}

.atmospheric-pressure {
    position: absolute;
    right: 2%;
    max-width: 60%;
    height: 16px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    margin-left: 30px;
}

.PM25 {
    max-width: 60%;
    height: 16px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    margin-left: 22px;
    position: absolute;
    right: 2%;
}

.humidity {
    max-width: 40%;
    height: 16px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    position: relative;
    left: 0%;
}

.weather {
    margin-bottom: -10em;
    max-width: 53%;
    border-radius: 10px;
    border: 2px dotted #ddd;
    position: relative;
    left: 45%;
}

.small-weather {
    max-width: 94%;
    margin-bottom: 0em;
    border-radius: 10px;
    border: 2px dotted #ddd;
    position: relative;
    left: 3%;
}

.phoneweather {

    width: 50%;
    height: 49px;
    background: rgba(0, 174, 255, 1);

}

.phonedate {
    margin-left: 16px;
    margin-top: 3px;
    height: 18px;
    color: rgba(255, 255, 255, 1);
    font-size: px;
    font-weight: 400;
}

.phonestudy {
    height: 15px;
    background-blend-mode: normal;
    mix-blend-mode: normal;
    color: rgba(239, 239, 239, 1);
    font-size: 14px;
    font-weight: 500;
    margin-top: 3px;
    margin-left: 10px;
}

.phone-place {
    width: 110px;
    height: 18px;
    color: rgba(239, 239, 239, 1);
    font-size: 14px;
    font-weight: 500;

}

.phone-p {
    position: relative;
    margin-top: -38px;
    left: 45%;
}

.phone-sky-condition {
    margin-left: 0px;
    margin-top: 7px;
    width: 70px;
    height: 18px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 500;

}

.phone-temperature {
    margin-left: 53px;
    margin-top: -22px;
    top: 0px;
    width: 35px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
}

.more {
    margin-top: -40px;
    margin-left: 55px;
    font-size: 30px
}