.info-card {
    background-color: white;
    min-width: 256px;
    max-width: 20vw;
    margin: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    box-shadow: 0 0 16px #888888;
}
.info-card-head-dot{
    display:inline-block;
    border-radius: 50%;
    background: rgba(0, 84, 255, 1);
    width:40px;
    height:40px;
}
.info-card-head-text{
    position:relative;
    left:-8px;
    top: -10px;
    margin:16px;
    font-size:24px;
    font-weight:bold;
    line-height:40px;
}
.info-card-title {
    font-weight: bolder;
    font-size: 1.2em;
    padding-left: 8px;
    padding-right: 8px;
}

.info-card-introduction {
    color: #646464;
    padding-left: 8px;
    padding-right: 8px;
}

.info-card-related {
    color: #646464;
    padding-left: 8px;
    padding-right: 8px;
}

.info-card-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-right: 8px;
}

.info-card-tag {
    background-color: #efefef;
    margin: 4px;
    padding: 4px;
    border-radius: 2px;
}

/* common style */
.pointer{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #000;
}
/* media */
@media only screen and (min-width: 768px) {
    #info-stream {
        display: grid;
        grid-template-columns: repeat(3, 24vw);
        justify-content: center;
    }
}
@media only screen and (max-width: 767px) {
    #info-stream {
        display: grid;
        grid-template-columns: repeat(2, 48vw);
        /* grid-template-rows: auto auto; */
        /* justify-content: center; */
        /* align-items: flex-start; */
    }
    .info-card {
        background-color: white;
        min-width: 160px;
        max-width: 20vw;
        margin: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 12px;
        box-shadow: 0 0 16px #888888;
        float: top;
        align-items: center;
    }
    .info-card-head-dot{
        display:inline-block;
        border-radius: 50%;
        background: rgba(0, 84, 255, 1);
        width:20px;
        height:20px;
    }
    .info-card-introduction{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 10px;
    }
    .info-card-related{
        color: rgba(112, 112, 112, 1);
        font-size: 10px;
    }
    .info-card-head-text{
        top: -5px;
        font-size: 14px;
    }
    .info-card-tags{
        font-size: 12px;
        /* overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; */
    }
}