#search-pad * {
    transition-property: all;
    transition-duration: 200ms;
}

.search-input {
    background-color: #e6f4f8;
    width: 100%;
    font-size: 1rem;
    height: 2rem;
    border: none;
    margin-bottom: 12px;
    border-bottom: solid 0.2rem #bfbfbf;
    text-align: center;
    outline: none;
    /* color: #f8000050; */
}

.search-input:focus::placeholder {
    border-bottom: solid 0.15rem rgb(24, 144, 255);
    color: #e6f4f8;
}

.search-input :-moz-placeholder {
    color: #bfbfbf;
}
.search-input:-ms-input-placeholder {
    color: #bfbfbf;
}
.search-input::-webkit-input-placeholder {
    color: #bfbfbf;
}

.tag {
    /* font-size: .5rem; */
    background-color: #bfbfbf80;
    /* margin: .2rem;
    padding: .2rem;
    border-radius: .2rem;
    cursor: pointer; */
}
.tag:hover {
    background-color: #2189e3;
    color: #ffffff;
}
.search-type {
    width: 100%;
    font-size: 1.2rem;
    border-bottom: solid 0.2rem #bfbfbf;
}

.type-container {
    margin-top: 0.5rem;
}

.result-card {
    font-size: 0.9rem;
    cursor: pointer;
    border-left: solid 0.2rem #2c64fd94;
    margin-top: 0.5rem;
    padding: 0.1rem 0.5rem;
    background-color: #e6f4f8;
}

.result-card:hover {
    background-color: #f0f0f0;
}

.post-title {
    font-size: 1.2rem;
}

.result-card:hover .post-title {
    color: #096dd9;
}

.category-path {
    color: #595959;
    font-style: italic;
    font-size: 0.8rem;
}

.post-tags * {
    margin-right: 0.5rem;
}

.post-authors * {
    margin-right: 0.5rem;
}

.search-switcher {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 0.2rem;
    margin-top: 0.5rem;
}

.active-full-switcher {
    background-color: #fff7e6;
    border-bottom: solid 0.2rem #fa8c16;
}

.active-meta-switcher {
    background-color: #e6fffb;
    border-bottom: solid 0.2rem #13c2c2;
}

.inactive-switcher {
    cursor: pointer;
    background-color: transparent;
    border-bottom: solid 0.2rem #bfbfbf;
}
