iframe {
    min-height: 30vh;
}

@media screen and (max-width: 1200px) {
    #tocBtn {
        visibility: visible;
    }
}

@media screen and (min-width: 1200px) {
    #tocBtn {
        visibility: collapse;
    }
}
.catalogueTitle{
    background-color:#4470F5;
    color:White;
    margin-top:8px;
    padding:4px;
    text-align:center;
    font-size: 1.0rem;
    font-weight: 550;
    letter-spacing: 0.4rem;
}
#content {
    font-size: 1.0rem;
}

#content h1,h2,h3,h4,h5,h6 {
    margin-top: 32px;
}
#tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    color:#707070;
    font-weight: 550;
    padding-right: 64px;
}
.tagItem{
    padding: .4rem 0.3rem;
    text-align: center;
    font-size: 0.8rem;
}
#readCounter{
    text-align: center;
    font-size: .8rem;
    color:#707070;
    font-weight: 550;
    padding-right: 64px;
}

#title{
    width: 100%;
    /* margin: 3rem; */
    margin-top: 1rem;
    padding-right: 64px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}
#content h1 {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    
}

#content h2 {
    width: 100%;
    /* border-bottom: solid .2rem #1890ff; */
    font-size: 1.2rem;
    counter-increment: index;
    font-weight: 550;
    
}
#content h2:before{
    content: counter(index);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    background-color: #2189E3;
    text-align: center;
    line-height: 1.3rem;
    position: absolute;
    left: 0;
    margin: 0.25rem;
    margin-left: 2.4rem;
    border-radius: 1.6rem;
    
}

#content h3 {
    /* padding-left: .5rem; */
    font-weight: 550;
    font-size: 1.0rem;
    
}

#content h4 {
    padding-left: .5rem;
    border-left: solid .2rem #eb2f96;
}

#content h5 {
    font-size: 1rem;
    font-weight: bold;
}

#content h6 {
    font-size: .8rem;
    font-weight: bold;
}

#content p {
    width: 100%;
}

#content p img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 70%;
}

#content iframe {
    border: none;
    width: 100%
}

#content code {
    margin: 0 .2rem;
    padding: 0 .3rem;
    background-color: #f0f0f0;
}

#content blockquote {
    background-color: #e6f7ff;
    border-left: solid .2rem #1890ff;
    padding: .5rem;
}

#content pre {
    padding: 1rem;
    background-color: #434343;
    border-left: solid .2rem #13c2c2;
}

#content pre code {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #fafafa;
}

#content table {
    margin: auto;
    width: 100%;
    margin-bottom: 1rem;
    overflow: scroll;
}

#content thead,tbody {
    width: auto;
}

#content th {
    border-bottom: solid .15rem #262626;
}

#content th,td {
    padding: .5rem;
}

#content tr:nth-last-child(2n) {
    background-color: #ffffff;
}


#content tr:nth-last-child(2n+1) {
    background-color: #dadada;
}

.tocItem {
    cursor: pointer;
    transition-property: all;
    transition-duration: 100ms;
    font-size: 0.8rem;
    padding-top:0.2rem;
    letter-spacing: 2px;
}

.tocItem:hover, .activeTocItem {
    /* background-color: #fff1f0;
    border-left: solid .2rem #f5222d; */
    color: #4470F5;
    font-size: 0.9rem;
    font-weight: 550;
}

.inactiveTocItem {
    border-left: solid .2rem transparent;
}

.imageNotes {
    display: inline-block;
    font-size: .9rem;
    width: 100%;
    text-align: center;
    color: #595959;
}