::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

#App * {
  scrollbar-width: none;
  transition-duration: 200ms;
}

#App {
  scrollbar-width: none;
  background-color: rgba(219,219,219,0.88);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  overflow: scroll;
}

.viewbox {
  max-height: calc(100vh - 48px);
  overflow: scroll;
  scroll-behavior: smooth;
}