.logoBoxoutProps {
    background-color: white;
    padding: 4px 12px;
    margin: 0 12px;
    height: 48px;
    width: 8.5vw;
}
.navigationItemOut {
    font-weight: 550;
    height: 36px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height:3vh ; */
    width: 7.5vw;
    color: white;
    text-align: center;
    /* padding-top: 0.45vh; */
    /* padding-left: 1vw; */
    /* padding-right: 1vw; */
}
.searchSpace {
    width: 8vw;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 2rem;
    font-size: 0.9rem;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}
.searchIconSpace {
    width: 2.5vw;
    height: 32px;

    background-color: #070ff2;
    opacity: 1;
}
.searchIcon {
    font-size: 20px;
    color: white;
}

.activeMenuItem {
    font-size: 1rem;
    background-color: #e5e5e5;
    font-weight: 550;
    padding: 8px;
    /* margin-top: 4px; */
    color: #2189e3;
    text-align: center;
    border-top: solid #2189e3 1px;
    border-left: solid #2189e3 3px;
}

.inactiveMenuItem {
    font-size: 1rem;
    font-weight: 550;
    padding: 8px;
    /* margin: 4px; */
    text-align: center;
    border-top: solid #2189e3 1px;
}

.mobileNavibar {
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: solid #2189e3 1px; */
    box-shadow: 0 0 1rem #8c8c8c;
    background-color: white;
}
.mobileNavibarBox {
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: solid rgb(182, 177, 177) 1px;
}
.mobileNavibarcontain {
    height: 48;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 14px;
}
.mobileNavibarLogo {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-left: 1rem;
}
